<div class="row my-5">
    <div class="col">
        <h1 class="text-center">도서검색</h1>
        <div id="div_books"></div>
    </div>
</div>

<script type="x-handlebars-template" id = "temp_books"> 
    <table class="table">
    {{#each documents}}               
        <tr>
            <td><img src ="{{thumbnail}}" width="50"></td>
            <td>{{title}}</td> 
            <td>{{price}}</td>
            <td>{{authours}}</td>
        </tr>
    {{/each}}
    </table>
</script>    

<script>
    getBooks();
    //도서검색 데이터 불러오기
    function getBooks(){
        // jquery는 $ 명령어로 시작, 소괄호 안에 중괄호
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK 4e9d829bf448e8a93d24aa307ca00c25"},
            data:{query:"자바", page:1, size:5},
            success:function(data){
                //console.log(data);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
            }
        })
    }
</script>