<div class="row my-5">
    <div class="col">
        <!--검색결과 출력-->
        <div id="div_books" class="row"></div>
    </div>
</div>
<!--도서정보 출력 템플릿-->
<script type="x-handlebars-template" id="temp_books">
    {{#each documents}}
       <div class = "col-6 col-md-4 col-lg-2 mb-2">
        <div class = "card">
          <div class = "card-body">
            <img src="{{thumbnail}}" width="90%">
            <div class="ellipsis text-center">{{title}}</div>
          </div>
          <div class="card-footer">
            {{price}}
          </div>   
       </div>
    </div>
    {{/each}}
</script>

<script>
    getBooks();
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK 4e9d829bf448e8a93d24aa307ca00c25"},
            data:{query:"Node.js", page:1, size:6},
            success:function(result){
                console.log(result);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(result));
            }
        })
    }
</script>