<style>
    #photo {
        width: 200px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid gray;
    }
    #file{
        display: none;
    }

</style>

<div class="my-5">
    <h1 class="text-center mb-5">마이페이지</h1>
    <div class="row justify-content-center">             <!--가운데 정렬-->
        <div class="col-8">
            <div class="text-center my-5">
                <img src="http://via.placeholder.com/200x200" id="photo"/>
                <input type="file" id="file">
            </div>
            <form name="frm" class="card p-3">
                <div class="input-group mb-2">
                    <span class="input-group">이름</span>
                    <input name="name" class="form-control"/>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group">전화</span>
                    <input name="phone" class="form-control"/>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group">주소</span>
                    <input name="address" class="form-control" readonly/>                 <!--readonly 주소창에 직접 입력 못함-->
                    <button id="btn-search" type="button" class="btn btn-primary">검색</button>    <!--type="button" 버튼이 서브밋되지 않음-->
                </div>
                <div class="text-center my-3">
                    <button class="btn btn-primary px-5">저장</button>
                    <button type="reset" class="btn btn-secondary px-5">취소</button>    <!-- reset 입력값 지워짐-->

                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, setDoc, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db=getFirestore(app);
    const uid=sessionStorage.getItem("uid");
    const email=sessionStorage.getItem("email");     //세션스토리지에 저장되어있는 이메일 가져오기

    let user;
    $(window).on("load", async function(){
        const snapshot = await getDoc(doc(db, `users/${uid}`));
        if(snapshot.data()) {                                //snapshot 정보가 있을때만 넣어주기
            user=snapshot.data();
            $(frm.name).val(user.name);
            $(frm.phone).val(user.phone);
            $(frm.address).val(user.address);
        }
    });

    $("#file").on("change", function(e){
        $("#photo").attr("src", URL.createObjectURL(e.target.files[0]))
    });

    $("#photo").on("click", function(){
        $("#file").click();
    });

    $(frm).on("submit", async function(e){
        e.preventDefault();                            // 저장버튼 눌렀을때 submit되지 않음
        const name=$(frm.name).val();
        const phone=$(frm.phone).val();
        const address=$(frm.address).val();
        if(name==""){
            alert("이름을 입력하세요!");
            $(frm.name).focus();               // 깜빡깜빡
            return;
        }
        if(phone==""){
            alert("전화번호를 입력하세요!");
            $(frm.phone).focus();               // 깜빡깜빡
            return;
        }
        if(address==""){
            alert("주소를 입력하세요!");
            return;
        }
        if(confirm("사용자 정보를 저장하실래요?")) {
            await setDoc(doc(db, `users/${uid}`),{            // 정보 저장
                email:email,
                name:name,
                phone:phone,
                address:address,
            });
            alert("사용자 정보가 변경되었습니다.");
            location.href="/";                               // 루트로 이동 
        }
    });

    $("#btn-search").on("click",function(){
        new daum.Postcode({
            oncomplete: function(data){
                //console.log(data);
                const address=data.roadAddress;
                const building=data.buildingName ? `(${data.buildingName})` : '';
                $(frm.address).val(address + ' ' +building);
            }
        }).open();
    });
</script>