<div class="my-5">
    <h1 class="text-center mb-3">댓글관리</h1>
    <div id="div_insert" style="display: none;">
        <textarea id="txt_body" class="form-control" rows="5"></textarea>
        <div class="text-end mt-2">
            <button id="btn-insert" class="btn btn-primary btn-sm px-5">등록</button>
        </div>
    </div>
    <div id="div_login">
        <button id="btn-login" class="btn btn-primary w-100">로그인</button>
    </div>
    <div>
        <div>댓글수: <span id="total"></span></div>
    </div>
    <div id="div_comments"></div>
</div>
<script id="temp_comments" type="x-handlebar-template">
    {{#each .}}
        <div>
            <div>
                <small><b>{{email}}</b></small>
                <small>{{date}}</small>
            </div>
            <div>{{body}}</div>
        </div>
        <hr>    
    {{/each}}
</script>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { query,orderBy,getDocs,where,doc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);

    const pid = "<%=id%>";              // read 에서 include해서 가져옴
    if(sessionStorage.getItem("email")){
        $("#div_insert, #div_login").toggle();        //toggle 보이는 건 안보이게, 안보이는 건 보이게
    }

    $("#btn-login").on("click", function(){
        sessionStorage.setItem("target","/posts/read?id=" + pid);
        location.href="/users/login";
    });

    $("#btn-insert").on("click", async function(){
        const date=moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
        const email = sessionStorage.getItem("email");
        const body=$("#txt_body").val();
        if(body==""){
            alert("댓글 내용을 입력하세요!");
            $("#txt_body").focus();
        }else{
            //댓글 저장
            const data={pid, email, date, body};
            await addDoc(collection(db, "comments"), data);             //컬렉션 만들어줌
            $("#txt_body").val("");
            alert("댓글 저장 완료!")
            getComments();
        }
    });

    getComments();
    async function getComments(){
        const q=query(collection(db, 'comments'), where("pid","==",pid), orderBy("date", "desc"));
        const snapshot = await getDocs(q);
        $("#total").html(snapshot.docs.length);
        let rows=[];
        snapshot.docs.forEach(row=>{
            rows.push({id:row.id, ...row.data()})
        });
        console.log(rows);
        const temp=Handlebars.compile($("#temp_comments").html());
        $("#div_comments").html(temp(rows));
    }
</script>